*{
	margin: 0;
}
body{
	margin: 0;
}
.container{
	width: 1170px;
	
	height: 1200px;
	background: #6e1e9d;
	margin: 0px auto;

}
.header{
	width: 1170px;
	height: 150px;
	background: red;
}
.header1{
	width:320px;
	height: 80px;
	margin: 30px 20px 20px 40px;
	background:navy;
    float: left;
}
.header2{
	width:320px;
	height: 80px;
	margin: 30px 20px 20px 40px;
	background:white;
    float: left;
}
.header3{
	width: 320px;
	height: 80px;
	margin: 30px 20px 20px 40px;
	background: gray;
	float: left;
}  
.center{
	width: 1170px;
	height: 700px;
	background: gray;

}
.center1{
	width: 320px;
	height: 300px;
	margin: 30px 20px 20px 40px;
	background: green;
	float: left;
}
.center2{
	width: 320px;
	height: 300px;
	margin: 30px 20px 20px 40px;
	background: maroon;
	float: left;
}
.center3{
	width: 320px;
	height: 300px;
	margin: 30px 20px 20px 40px;
	background: lightblue;
	float: left;
}

.center4{
	width: 320px;
	height: 300px;
	margin: 30px 20px 20px 40px;
	background: yellow;
	float: left;
}
.center5{
	width: 320px;
	height: 300px;
	margin: 30px 20px 20px 40px;
	background: black;
	float: left;
}
.center6{
	width: 320px;
	height: 300px;
	margin: 30px 20px 20px 40px;
	background: purple;
	float: left;
}
.footer{
	width: 1170;
	height:150px;
	background-color: maroon;
}
.footer1{
	width: 545px;
	height: 100px;
	margin: 30px 5px 20px 20px;
	background: purple;
	float: left;
}
.footer2{
	width: 545px;
	height: 100px;
	margin: 30px 5px 20px 5px;
	background: blue;
	float: right;
}
.footer3{
	width: 1150x;
	height: 150px;
	margin: 30px 10px 30px 10px;
	background: red;
	float: center;
}











